

h1 {
       color: blue;
  }

  h3 {
    color:brown;
  }
  .violet {
    color:  darkviolet;
  }
  .violet {
    color:  darkviolet;
  }

  .yellow {
    color:   orange;
  }

  .yell {
    color:   orange;
  }
  .yell {
    color:   orange;
  }
  .yell {
    color:   orange;
  }
  .red {
    color:   red;
}


